In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('JuniorDataAnalystTest.xlsx', 'Data')

In [3]:
df

,Application ID,PIN,Status,Product,Timestamp,Amount,Unnamed: 6,Unnamed: 7
0,690545993,100257516,Expired,BNPL,2023-02-26 14:10:08.073 +02:00,NaN,NaN,NaN
1,690549012,100257516,Expired,POS,2023-02-26 21:20:49.537 +02:00,630.0,NaN,NaN
2,690550020,100257516,Expired,BNPL,2023-02-26 23:35:46.193 +02:00,NaN,NaN,NaN
3,690547499,100257516,Disbursed,BNPL,2023-02-26 17:32:06.420 +02:00,280.0,NaN,NaN
4,690551519,100257516,Expired,POS,2023-02-27 11:20:09.833 +02:00,630.0,NaN,NaN
...,...,...,...,...,...,...,...,...
44364,69565741,99728896,Canceled,CashAuto,2023-03-02 12:40:24.800 +02:00,4500.0,NaN,NaN
44365,69266265,99728896,Rejected,CashAuto,2023-01-04 17:46:37.597 +02:00,2000.0,NaN,NaN
44366,690572804,99728896,Expired,BNPL,2023-03-03 07:25:58.980 +02:00,39.0,NaN,NaN
44367,69566160,99728896,Canceled,Cash,2023-03-02 11:07:22.310 +02:00,3500.0,NaN,NaN
44368,69363180,99728896,Expired,Cash,2023-02-01 18:55:07.647 +02:00,2500.0,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44369 entries, 0 to 44368
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Application ID  44369 non-null  int64
 1   PIN             44369 non-null  int64
 2   Status          44367 non-null  object
 3   Product         44369 non-null  object
 4   Timestamp       44283 non-null  object
 5   Amount          40234 non-null  float64
 6   Unnamed: 6      0 non-null      float64
 7   Unnamed: 7      0 non-null      float64
dtypes: float64(3), int64(2), object(3)
memory usage: 2.7+ MB

In [154]:
df.isnull().sum()

Application ID        0
PIN                   0
Status                2
Product               0
Timestamp            86
Amount             4135
Unnamed: 6        44369
Unnamed: 7        44369
dtype: int64

In [231]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [155]:
df['Status'].unique()

array(['Expired', 'Disbursed', 'Rejected', 'Canceled',
       'Canceled Disbursed Loan', 'Rej', 'Exp', nan], dtype=object)

In [156]:
df['Status'].value_counts()

Rejected                   22737
Expired                    10928
Canceled                    6422
Disbursed                   4264
Canceled Disbursed Loan       14
Exp                            1
Rej                            1
Name: Status, dtype: int64

In [159]:
df['Status'] = df['Status'].replace(['Rej'], 'Rejected')

In [161]:
df['Status'] = df['Status'].replace(['Exp'], 'Expired')

In [171]:
df['Status'] = df['Status'].replace(['Canceled Disbursed Loan'], 'Canceled')

In [172]:
df['Status'].unique()

array(['Expired', 'Disbursed', 'Rejected', 'Canceled'], dtype=object)

In [173]:
df['Status'].value_counts()

Rejected     22057
Expired       8712
Canceled      5132
Disbursed     4262
Name: Status, dtype: int64

In [164]:
df.isnull().sum()

Application ID        0
PIN                   0
Status                2
Product               0
Timestamp            86
Amount             4135
Unnamed: 6        44369
Unnamed: 7        44369
dtype: int64

In [165]:
df['Application ID'].duplicated().sum()

649

In [166]:
df['PIN'].duplicated().sum()

34421

In [167]:
df = df.drop(['Unnamed: 6', 'Unnamed: 7'], axis=1)

In [168]:
df = df.dropna()

In [169]:
df.isnull().sum()

Application ID    0
PIN               0
Status            0
Product           0
Timestamp         0
Amount            0
dtype: int64

In [170]:
df['Status'].value_counts()

Rejected                   22057
Expired                     8712
Canceled                    5118
Disbursed                   4262
Canceled Disbursed Loan       14
Name: Status, dtype: int64

In [72]:
status_ = df[[ 'Application ID', 'Status',]].pivot_table(index='Application ID', values=['Status'], aggfunc='count')

In [73]:
status_.sort_values(by='Application ID', ascending=False)

                Status
Application ID
690681005            1
690680833            1
690680820            1
690680778            1
690680722            1
...                ...
66028416             1
66028328             1
66028315             1
66028242             1
66028235             1

[39618 rows x 1 columns]

In [69]:
pd.groupby[df['Application ID'].duplicated().value_counts().sum()

40163

In [80]:
duplicated_apps = df[df['Application ID'].duplicated(keep=False)]

In [81]:
duplicated_counts = duplicated_apps['Application ID'].value_counts()

In [82]:
top_10_duplicated = duplicated_counts.nlargest(10)

In [83]:
print("Top 10 duplicated applications:")
print(top_10_duplicated)

Top 10 duplicated applications:
69584779     3
69435363     3
660027794    3
690343301    3
660213521    3
69390589     3
69389699     2
69264782     2
66243984     2
69416337     2
Name: Application ID, dtype: int64

In [116]:
Top_10_App = df.loc[df['Application ID'].isin([69584779,69435363,
                                    660027794,690343301,
                                    660213521,69390589,
                                    69389699,69264782,
                                    66243984,69416337
                                   ])]

In [119]:
Top_10_App.to_excel('Top_10_App.xlsx')

In [112]:
Top_10_PIN = df.loc[df['PIN'].isin([304658042,270199790,
                                    328367446,298333022,
                                    249754698,133628030,
                                    110597632,258285136,
                                    218594062,369002858
                                   ])]

(       Application ID        PIN    Status Product  \
 25516        69584779  308435916  Rejected    Cash
 32245        69584779  334054608  Rejected    Cash
 33883        69584779  340164518  Canceled    Cash

                             Timestamp  Amount
 25516  2023-03-05 14:49:32.867 +02:00  3000.0
 32245  2023-03-05 14:38:25.777 +02:00  5000.0
 33883  2023-03-05 14:51:38.937 +02:00  5100.0  ,
        Application ID        PIN    Status Product  \
 17470        69435363  272376808  Rejected    Cash
 17472        69435363  272376808  Rejected    Cash
 27464        69435363  315958552  Rejected    Cash

                             Timestamp   Amount
 17470  2023-02-10 07:10:56.260 +02:00    500.0
 17472  2023-02-10 07:08:13.100 +02:00   1000.0
 27464  2023-02-10 09:31:26.820 +02:00  10000.0  )

In [91]:
duplicated_pinn = df[df['PIN'].duplicated(keep=False)]

In [92]:
duplicated_pinn_counts = duplicated_apps['PIN'].value_counts()

In [93]:
top_10_duplicated_pin = duplicated_pinn_counts.nlargest(10)

In [94]:
print("Top 10 duplicated pin:")
print(top_10_duplicated_pin)

Top 10 duplicated pin:
304658042    6
270199790    6
328367446    6
298333022    5
249754698    5
133628030    5
110597632    5
258285136    4
218594062    4
369002858    4
Name: PIN, dtype: int64

In [115]:
Top_10_PIN.to_excel('Top_10_PIN_App.xlsx')

In [101]:
df.loc[df['PIN']==304658042]

,Application ID,PIN,Status,Product,Timestamp,Amount
24534,69415385,304658042,Rejected,Cash,2023-02-06 23:48:06.267 +02:00,1500.00
24535,69430250,304658042,Rejected,Cash,2023-02-09 12:10:09.957 +02:00,1000.00
24536,66234753,304658042,Rejected,CashAuto,2022-12-27 21:05:49.500 +02:00,3900.00
24537,69432165,304658042,Rejected,Cash,2023-02-09 16:50:31.430 +02:00,1500.00
24538,69313489,304658042,Rejected,Cash,2023-01-15 15:07:30.587 +02:00,1000.00
24539,69396027,304658042,Rejected,Cash,2023-02-03 12:35:45.300 +02:00,1100.00
24541,69380513,304658042,Rejected,CashAuto,2023-01-31 16:25:42.173 +02:00,5900.00
24542,69276958,304658042,Rejected,Cash,2023-01-06 19:23:55.313 +02:00,1100.00
24543,66225138,304658042,Rejected,Cash,2022-12-25 22:20:45.930 +02:00,1000.00
24544,69389315,304658042,Rejected,Cash,2023-02-02 06:49:38.190 +02:00,900.00
24545,69447987,304658042,Rejected,Cash,2023-02-12 18:17:27.700 +02:00,2000.00
24546,69410725,304658042,Rejected,CashAuto,2023-02-06 11:36:16.073 +02:00,1700.00
24547,69438759,304658042,Rejected,Cash,2023-02-10 17:57:30.237 +02:00,1500.00
24548,69433661,304658042,Rejected,Cash,2023-02-09 20:05:34.950 +02:00,2000.00
24549,69456732,304658042,Rejected,Cash,2023-02-14 00:50:04.013 +02:00,1500.00
24550,69301313,304658042,Rejected,Cash,2023-01-12 13:19:55.357 +02:00,900.00
24551,69475956,304658042,Canceled,Cash,2023-02-17 14:01:48.467 +02:00,10000.00
24552,69383062,304658042,Rejected,Cash,2023-02-01 00:06:21.560 +02:00,500.00
24553,69562618,304658042,Rejected,Cash,2023-03-01 15:28:01.690 +02:00,1500.00
24554,69375859,304658042,Rejected,CashAuto,2023-01-30 19:42:45.653 +02:00,7000.00
24555,690296557,304658042,Canceled,POS,2023-01-11 13:43:45.150 +02:00,622.40
24556,69383052,304658042,Rejected,Cash,2023-02-01 00:03:41.680 +02:00,1900.00
24557,69423862,304658042,Rejected,Cash,2023-02-08 13:15:51.160 +02:00,2400.00
24558,66224944,304658042,Rejected,CashAuto,2022-12-25 21:21:25.717 +02:00,3000.00
24559,69310356,304658042,Rejected,Cash,2023-01-14 15:31:45.497 +02:00,1400.00
24560,69254303,304658042,Rejected,Cash,2023-01-01 19:22:26.090 +02:00,1000.00
24561,69384518,304658042,Rejected,Cash,2023-02-01 11:34:20.787 +02:00,500.00
24562,69442183,304658042,Rejected,CashAuto,2023-02-11 13:47:42.157 +02:00,1500.00
24564,69318988,304658042,Rejected,Cash,2023-01-16 20:21:28.820 +02:00,1100.00
24565,69453998,304658042,Rejected,Cash,2023-02-13 17:07:06.930 +02:00,900.00
24566,69448073,304658042,Rejected,Cash,2023-02-12 18:28:22.260 +02:00,2000.00
24567,69491331,304658042,Rejected,Cash,2023-02-20 13:21:37.400 +02:00,2000.00
24568,69377515,304658042,Rejected,CashAuto,2023-01-31 07:23:42.707 +02:00,8200.00
24569,69424832,304658042,Rejected,Cash,2023-02-08 15:34:11.080 +02:00,1000.00
24570,69439683,304658042,Rejected,Cash,2023-02-10 20:35:22.587 +02:00,1800.00
24572,690427122,304658042,Rejected,POS,2023-02-08 21:03:45.483 +02:00,390.90
24573,69422812,304658042,Rejected,Cash,2023-02-08 10:46:38.070 +02:00,500.00
24574,690303366,304658042,Disbursed,POS,2023-01-12 20:48:04.283 +02:00,2295.13
24575,69428979,304658042,Rejected,Cash,2023-02-09 07:26:29.850 +02:00,2000.00
24576,69401808,304658042,Rejected,Cash,2023-02-04 12:50:52.193 +02:00,2500.00
24577,69295969,304658042,Rejected,Cash,2023-01-11 11:50:59.423 +02:00,1100.00
24579,66224931,304658042,Rejected,Cash,2022-12-25 21:16:30.677 +02:00,1000.00
24580,69449780,304658042,Canceled,Cash,2023-02-13 00:12:29.670 +02:00,2000.00
24581,69475607,304658042,Rejected,CashAuto,2023-02-17 11:32:11.867 +02:00,4000.00
24583,69469756,304658042,Rejected,Cash,2023-02-16 09:22:32.173 +02:00,1600.00
24584,69476599,304658042,Rejected,Cash,2023-02-17 14:07:00.393 +02:00,2000.00
24585,66224980,304658042,Rejected,Cash,2022-12-25 21:27:57.247 +02:00,2000.00
24586,69634843,304658042,Rejected,Cash,2023-03-14 07:21:40.113 +02:00,700.00
24587,69445241,304658042,Rejected,Cash,2023-02-12 07:49:40.810 +02:00,900.00
24588,69447912,304658042,Canceled,Cash,2023-02-12 18:11:24.640 +02:00,2000.00
24589,69438138,304658042,Rejected,Cash,2023-02-10 16:13:39.923 +02:00,2200.00
24590,69410518,304658042,Rejected,CashAuto,2023-02-06 11:03:49.550 +02:00,6300.00
24591,69415869,304658042,Rejected,Cash,2023-02-07 07:45:01.870 +02:00,500.00
24592,66224934,304658042,Rejected,Cash,2022-12-25 21:18:37.617 +02:00,800.00
24593,69628054,304658042,Rejected,Cash,2023-03-13 06:58:12.407 +02:00,900.00
24594,690410311,304658042,Rejected,POS,2023-02-06 10:27:08.993 +02:00,679.00
24595,69476644,304658042,Rejected,Cash,2023-02-17 14:12:00.537 +02:00,1000.00
24596,69353195,304658042,Rejected,Cash,2023-01-25 13:45:14.583 +02:00,1100.00
24598,69551949,304658042,Rejected,Cash,2023-02-27 11:26:27.933 +02:00,3000.00
24600,66175173,304658042,Disbursed,Cash,2022-12-13 14:18:46.197 +02:00,2200.00
24601,69296872,304658042,Canceled,Cash,2023-01-11 14:39:13.970 +02:00,500.00
24602,69301833,304658042,Rejected,Cash,2023-01-12 16:04:44.500 +02:00,1000.00
24603,69391014,304658042,Rejected,Cash,2023-02-02 13:48:56.560 +02:00,500.00
24604,69328579,304658042,Rejected,Cash,2023-01-19 09:06:45.317 +02:00,1300.00
24605,69417634,304658042,Rejected,Cash,2023-02-07 13:26:04.230 +02:00,10000.00
24606,66237821,304658042,Rejected,Cash,2022-12-28 13:51:08.137 +02:00,1100.00
24607,66205466,304658042,Rejected,Cash,2022-12-20 15:32:23.107 +02:00,1100.00
24608,690303050,304658042,Canceled,POS,2023-01-12 19:32:08.360 +02:00,2179.85
24609,69422795,304658042,Rejected,CashAuto,2023-02-08 10:44:07.970 +02:00,6500.00
24611,690313575,304658042,Rejected,POS,2023-01-15 15:39:44.040 +02:00,947.60
24612,66244762,304658042,Rejected,Cash,2022-12-29 18:46:57.467 +02:00,1000.00
24613,69345398,304658042,Rejected,Cash,2023-01-23 14:57:54.573 +02:00,1100.00
24615,66225073,304658042,Rejected,Cash,2022-12-25 22:05:59.207 +02:00,1000.00
24616,69599465,304658042,Rejected,Cash,2023-03-07 20:24:53.517 +02:00,1000.00
24617,69415842,304658042,Rejected,CashAuto,2023-02-07 07:11:37.857 +02:00,1400.00
24618,69668785,304658042,Rejected,Cash,2023-03-20 10:38:13.670 +02:00,900.00
24619,690306746,304658042,Rejected,POS,2023-01-13 16:17:55.550 +02:00,459.00
24620,69376950,304658042,Rejected,Cash,2023-01-30 23:26:01.623 +02:00,500.00
24622,69440941,304658042,Rejected,Cash,2023-02-11 07:15:54.287 +02:00,2100.00
24623,69296938,304658042,Rejected,Cash,2023-01-11 15:50:19.847 +02:00,2600.00
24624,69358425,304658042,Rejected,Cash,2023-01-26 18:36:47.790 +02:00,1100.00
24625,690384657,304658042,Rejected,POS,2023-02-01 12:02:21.467 +02:00,739.00
24626,69477759,304658042,Rejected,Cash,2023-02-17 16:54:18.360 +02:00,7600.00
24627,69297794,304658042,Rejected,Cash,2023-01-11 17:13:38.900 +02:00,800.00
24629,69445212,304658042,Rejected,Cash,2023-02-12 07:37:47.573 +02:00,2000.00
24630,69301693,304658042,Rejected,CashAuto,2023-01-12 14:54:36.403 +02:00,3100.00
24631,66225904,304658042,Rejected,Cash,2022-12-26 08:56:24.090 +02:00,800.00
24632,69390988,304658042,Rejected,Cash,2023-02-02 13:45:07.593 +02:00,900.00
24633,69450304,304658042,Rejected,Cash,2023-02-13 07:13:16.880 +02:00,1800.00
24634,69449838,304658042,Rejected,Cash,2023-02-13 00:16:01.410 +02:00,2000.00
24635,66225434,304658042,Rejected,Cash,2022-12-25 23:47:24.793 +02:00,500.00
24636,690429206,304658042,Rejected,POS,2023-02-09 09:01:43.493 +02:00,386.90
24637,69381919,304658042,Rejected,CashAuto,2023-01-31 20:17:05.720 +02:00,7000.00
24638,69452104,304658042,Rejected,Cash,2023-02-13 12:42:35.280 +02:00,1700.00
24639,69409976,304658042,Rejected,Cash,2023-02-06 08:58:58.403 +02:00,800.00
24640,69415832,304658042,Rejected,Cash,2023-02-07 07:08:44.477 +02:00,1100.00
24641,69401830,304658042,Rejected,Cash,2023-02-04 12:52:59.087 +02:00,500.00
24642,69306769,304658042,Rejected,Cash,2023-01-13 16:22:24.973 +02:00,800.00
24643,69461696,304658042,Rejected,Cash,2023-02-14 21:41:41.367 +02:00,1600.00
24644,690298519,304658042,Rejected,POS,2023-01-11 19:54:16.390 +02:00,300.70
24645,69260676,304658042,Rejected,Cash,2023-01-03 09:06:05.217 +02:00,1100.00
24646,690302383,304658042,Canceled,POS,2023-01-12 17:00:35.010 +02:00,559.49
24648,690411639,304658042,Rejected,POS,2023-02-06 13:33:26.523 +02:00,906.00
24649,69383704,304658042,Rejected,CashAuto,2023-02-01 09:17:39.873 +02:00,6000.00
24650,69267530,304658042,Rejected,Cash,2023-01-04 15:20:36.003 +02:00,1100.00
24651,69371733,304658042,Rejected,Cash,2023-01-30 07:57:57.667 +02:00,1100.00
24652,69417616,304658042,Rejected,Cash,2023-02-07 13:24:16.293 +02:00,500.00
24653,69296232,304658042,Rejected,Cash,2023-01-11 12:37:28.023 +02:00,800.00
24654,69421947,304658042,Rejected,Cash,2023-02-08 07:27:44.697 +02:00,1000.00
24655,69435432,304658042,Rejected,Cash,2023-02-10 08:02:06.373 +02:00,2000.00
24656,690416128,304658042,Rejected,POS,2023-02-07 09:38:58.570 +02:00,1567.53
24658,69436776,304658042,Rejected,Cash,2023-02-10 12:50:48.377 +02:00,2200.00
24659,69300543,304658042,Rejected,Cash,2023-01-12 11:04:19.127 +02:00,1300.00
24660,69435433,304658042,Rejected,Cash,2023-02-10 08:03:59.507 +02:00,700.00
24661,660215255,304658042,Canceled,BNPL,2022-12-23 09:44:06.573 +02:00,265.00
24662,69607466,304658042,Rejected,Cash,2023-03-09 10:29:50.050 +02:00,800.00
24663,69475470,304658042,Canceled,CashAuto,2023-02-17 11:28:17.867 +02:00,9600.00
24664,69296598,304658042,Rejected,CashAuto,2023-01-11 13:50:08.703 +02:00,2200.00

In [127]:
df.loc[df['PIN']==270199790]

,Application ID,PIN,Status,Product,Timestamp,Amount
16952,69419648,270199790,Rejected,Cash,2023-02-07 18:36:40.157 +02:00,500.0
16953,69570660,270199790,Rejected,Cash,2023-03-02 20:40:09.217 +02:00,900.0
16954,69350638,270199790,Rejected,Cash,2023-01-24 19:25:11.217 +02:00,500.0
16955,69437610,270199790,Rejected,Cash,2023-02-10 14:57:03.907 +02:00,700.0
16956,69666233,270199790,Rejected,Cash,2023-03-19 15:15:06.490 +02:00,2000.0
16957,69570615,270199790,Rejected,Cash,2023-03-02 18:26:05.610 +02:00,500.0
16958,69413488,270199790,Rejected,Cash,2023-02-06 18:04:56.317 +02:00,700.0
16959,69420446,270199790,Canceled,Cash,2023-02-07 21:37:18.543 +02:00,1700.0
16960,69489081,270199790,Rejected,Cash,2023-02-20 04:45:55.397 +02:00,900.0
16961,69419477,270199790,Rejected,Cash,2023-02-07 17:53:45.310 +02:00,700.0
16962,69657086,270199790,Rejected,Cash,2023-03-17 17:50:00.400 +02:00,500.0
16963,69540201,270199790,Rejected,Cash,2023-02-26 10:59:10.803 +02:00,500.0
16964,69389263,270199790,Rejected,Cash,2023-02-02 05:46:02.240 +02:00,500.0
16965,69628078,270199790,Rejected,Cash,2023-03-13 12:10:53.997 +02:00,500.0
16966,69423492,270199790,Rejected,Cash,2023-02-08 12:27:14.330 +02:00,500.0
16967,69595620,270199790,Rejected,Cash,2023-03-07 11:21:58.367 +02:00,500.0
16968,69433980,270199790,Rejected,Cash,2023-02-09 20:57:41.197 +02:00,700.0
16969,69419494,270199790,Rejected,Cash,2023-02-07 17:57:46.680 +02:00,500.0
16970,69615670,270199790,Rejected,Cash,2023-03-10 16:10:16.987 +02:00,500.0
16971,69421126,270199790,Rejected,Cash,2023-02-07 22:42:12.777 +02:00,800.0
16972,69341584,270199790,Rejected,Cash,2023-01-22 16:03:07.317 +02:00,500.0
16973,69638177,270199790,Rejected,Cash,2023-03-14 20:25:31.987 +02:00,500.0
16974,69570629,270199790,Rejected,Cash,2023-03-02 18:29:28.053 +02:00,500.0
16975,69605906,270199790,Rejected,Cash,2023-03-08 23:29:27.377 +02:00,500.0
16976,69437374,270199790,Rejected,Cash,2023-02-10 14:23:38.423 +02:00,500.0
16977,69432853,270199790,Rejected,Cash,2023-02-09 20:53:36.123 +02:00,900.0
16978,69335753,270199790,Rejected,Cash,2023-01-20 19:02:28.323 +02:00,500.0
16979,69419608,270199790,Rejected,Cash,2023-02-07 18:18:43.663 +02:00,700.0
16980,69671701,270199790,Rejected,Cash,2023-03-20 16:52:26.067 +02:00,600.0
16981,69604157,270199790,Rejected,Cash,2023-03-08 17:17:54.830 +02:00,500.0
16982,69437511,270199790,Canceled,Cash,2023-02-10 14:54:16.897 +02:00,6000.0
16983,69419541,270199790,Rejected,Cash,2023-02-07 18:11:18.707 +02:00,500.0
16984,69387088,270199790,Rejected,Cash,2023-02-01 18:11:00.153 +02:00,1300.0
16985,69666263,270199790,Rejected,Cash,2023-03-19 15:23:41.287 +02:00,500.0
16986,69434016,270199790,Rejected,Cash,2023-02-09 21:05:13.927 +02:00,5400.0
16987,69495285,270199790,Rejected,Cash,2023-02-20 22:13:08.427 +02:00,500.0
16988,69638124,270199790,Rejected,Cash,2023-03-14 16:49:25.403 +02:00,500.0
16989,69603887,270199790,Rejected,Cash,2023-03-08 16:32:54.520 +02:00,500.0
16990,69330378,270199790,Rejected,Cash,2023-01-19 15:54:32.157 +02:00,500.0
16991,69677357,270199790,Rejected,Cash,2023-03-21 17:10:47.707 +02:00,500.0
16992,69594670,270199790,Rejected,Cash,2023-03-07 08:53:45.473 +02:00,500.0
16993,69387015,270199790,Rejected,Cash,2023-02-01 18:01:47.917 +02:00,500.0
16994,69387098,270199790,Rejected,Cash,2023-02-01 18:12:43.037 +02:00,500.0
16995,69661281,270199790,Rejected,Cash,2023-03-18 13:39:54.727 +02:00,500.0
16996,69677559,270199790,Rejected,Cash,2023-03-21 17:39:14.383 +02:00,3000.0
16997,69586089,270199790,Rejected,Cash,2023-03-05 18:46:45.913 +02:00,500.0
16998,69425755,270199790,Rejected,Cash,2023-02-08 17:55:59.133 +02:00,500.0
16999,69492302,270199790,Rejected,Cash,2023-02-20 15:21:48.680 +02:00,500.0
17000,69419762,270199790,Rejected,Cash,2023-02-07 18:56:47.367 +02:00,900.0
17001,69616350,270199790,Rejected,Cash,2023-03-10 18:03:07.900 +02:00,500.0
17002,69595354,270199790,Rejected,Cash,2023-03-07 10:51:20.637 +02:00,700.0
17003,69392800,270199790,Rejected,Cash,2023-02-02 18:54:09.720 +02:00,500.0
17004,69335780,270199790,Rejected,Cash,2023-01-20 19:05:17.557 +02:00,500.0
17005,69437627,270199790,Rejected,Cash,2023-02-10 15:00:17.490 +02:00,500.0
17006,69672121,270199790,Rejected,Cash,2023-03-20 18:00:42.337 +02:00,500.0
17007,69666266,270199790,Rejected,Cash,2023-03-19 15:19:05.697 +02:00,500.0
17008,69323361,270199790,Rejected,Cash,2023-01-17 20:35:05.783 +02:00,500.0
17009,69328414,270199790,Rejected,Cash,2023-01-19 05:55:53.883 +02:00,3000.0
17010,69387052,270199790,Rejected,Cash,2023-02-01 18:03:57.880 +02:00,500.0
17011,69434856,270199790,Rejected,Cash,2023-02-10 08:48:01.953 +02:00,1000.0
17012,69556986,270199790,Rejected,Cash,2023-02-28 11:52:37.667 +02:00,500.0
17013,69436644,270199790,Rejected,Cash,2023-02-10 12:32:51.010 +02:00,700.0
17014,69421999,270199790,Rejected,Cash,2023-02-08 08:18:44.807 +02:00,600.0
17015,69650253,270199790,Rejected,Cash,2023-03-16 16:11:51.347 +02:00,500.0
17016,69603858,270199790,Rejected,Cash,2023-03-08 16:28:49.113 +02:00,500.0
17017,69272959,270199790,Rejected,Cash,2023-01-07 16:35:34.777 +02:00,1000.0
17018,69618556,270199790,Rejected,Cash,2023-03-12 17:56:14.467 +02:00,500.0
17019,69420973,270199790,Canceled,Cash,2023-02-07 22:22:21.557 +02:00,1000.0
17020,69279762,270199790,Disbursed,Cash,2023-01-10 15:14:01.033 +02:00,500.0
17021,69493794,270199790,Rejected,Cash,2023-02-20 18:55:41.033 +02:00,500.0
17022,69611291,270199790,Rejected,Cash,2023-03-09 20:24:19.520 +02:00,500.0
17023,69420042,270199790,Canceled,Cash,2023-02-07 19:39:04.547 +02:00,1700.0
17024,69336903,270199790,Rejected,Cash,2023-01-21 02:14:03.667 +02:00,500.0
17025,69677308,270199790,Rejected,Cash,2023-03-21 17:05:14.893 +02:00,1400.0
17026,69678371,270199790,Rejected,Cash,2023-03-21 19:44:41.403 +02:00,500.0
17027,69661821,270199790,Rejected,Cash,2023-03-19 13:03:27.067 +02:00,500.0
17028,69603926,270199790,Rejected,Cash,2023-03-08 16:39:15.363 +02:00,500.0
17029,69323387,270199790,Rejected,Cash,2023-01-17 20:48:44.587 +02:00,500.0
17030,69570286,270199790,Rejected,Cash,2023-03-02 17:25:24.667 +02:00,500.0
17031,69492120,270199790,Rejected,Cash,2023-02-20 14:55:52.703 +02:00,500.0
17032,69434837,270199790,Canceled,Cash,2023-02-09 23:45:54.277 +02:00,1000.0
17033,69338819,270199790,Rejected,Cash,2023-01-21 17:43:58.867 +02:00,500.0
17034,69609935,270199790,Rejected,Cash,2023-03-09 16:42:02.643 +02:00,500.0
17035,69522706,270199790,Rejected,Cash,2023-02-23 19:56:53.037 +02:00,1100.0
17036,69387073,270199790,Rejected,Cash,2023-02-01 18:07:39.557 +02:00,6000.0
17037,69323121,270199790,Rejected,Cash,2023-01-17 19:43:17.783 +02:00,500.0
17038,69420790,270199790,Rejected,Cash,2023-02-07 22:07:28.210 +02:00,600.0
17039,69625854,270199790,Rejected,Cash,2023-03-12 20:43:32.487 +02:00,500.0
17040,69419520,270199790,Rejected,Cash,2023-02-07 18:01:41.947 +02:00,500.0
17041,69403526,270199790,Rejected,Cash,2023-02-04 18:19:54.683 +02:00,500.0
17042,69411357,270199790,Rejected,Cash,2023-02-06 12:54:59.383 +02:00,800.0
17043,69655653,270199790,Rejected,Cash,2023-03-17 14:50:12.047 +02:00,500.0
17044,69336040,270199790,Rejected,Cash,2023-01-20 19:56:01.203 +02:00,5000.0
17045,69651002,270199790,Rejected,Cash,2023-03-16 20:19:41.873 +02:00,500.0

In [121]:
disbursed = df.loc[df['Status']=='Disbursed']

In [147]:
Top_Disbursed_Amounts = disbursed.sort_values(by='Amount', ascending=False)

In [176]:
disbursed['Amount'].sum()

3275508.21

In [150]:
Top_Disbursed_Amounts.to_excel('Top_Disbursed_Amounts.xlsx')

In [144]:
Top_10_Disbursed_Amounts.to_excel('Top_10_Disbursed_Amounts.xlsx')

In [139]:
df.loc[df['PIN']==284107860]

,Application ID,PIN,Status,Product,Timestamp,Amount
19940,69411373,284107860,Expired,CashAuto,2023-02-11 13:00:14.097 +02:00,13500.0
19941,69529316,284107860,Rejected,CashAuto,2023-02-24 13:25:06.557 +02:00,11990.0
19942,69281363,284107860,Expired,CashAuto,2023-01-13 05:20:04.603 +02:00,13500.0
19943,69458297,284107860,Canceled,CashAuto,2023-02-14 12:09:27.267 +02:00,13500.0
19944,69458369,284107860,Disbursed,CashAuto,2023-02-14 15:42:22.047 +02:00,13500.0
19945,69528755,284107860,Rejected,Cash,2023-02-24 12:40:51.450 +02:00,10000.0

In [140]:
df.loc[df['PIN']==140160708]

,Application ID,PIN,Status,Product,Timestamp,Amount
3461,69530640,140160708,Disbursed,CashAuto,2023-02-28 17:28:09.320 +02:00,12800.0

In [141]:
df.loc[df['PIN']==155329660]

,Application ID,PIN,Status,Product,Timestamp,Amount
5464,69654008,155329660,Rejected,CashAuto,2023-03-17 14:33:50.480 +02:00,3900.0
5465,69456208,155329660,Rejected,Cash,2023-02-13 22:40:35.783 +02:00,6000.0
5466,69469718,155329660,Rejected,CashAuto,2023-02-16 09:03:58.330 +02:00,5000.0
5467,69666360,155329660,Rejected,CashAuto,2023-03-19 16:17:18.243 +02:00,2985.0
5468,69456263,155329660,Rejected,CashAuto,2023-02-13 22:51:49.387 +02:00,6022.0
5469,69456250,155329660,Rejected,Cash,2023-02-13 22:49:14.640 +02:00,4000.0
5470,69456217,155329660,Rejected,Cash,2023-02-13 22:42:56.527 +02:00,6000.0
5471,69409629,155329660,Disbursed,Cash,2023-02-07 11:45:49.117 +02:00,10000.0
5472,69456218,155329660,Rejected,Cash,2023-02-13 22:44:38.803 +02:00,5000.0

In [142]:
df.loc[df['PIN']==282015414]

,Application ID,PIN,Status,Product,Timestamp,Amount
19366,69464540,282015414,Canceled,CashAuto,2023-02-16 11:28:25.180 +02:00,10000.0
19367,690470016,282015414,Canceled,POS,2023-02-17 10:15:30.480 +02:00,10000.0
19368,690507255,282015414,Disbursed,POS,2023-02-22 17:23:43.693 +02:00,10000.0

In [146]:
df.loc[df['Amount']==15000.0]

,Application ID,PIN,Status,Product,Timestamp,Amount
263,69309159,106279852,Expired,CashAuto,2023-01-19 09:55:14.370 +02:00,15000.0
469,66224407,108891298,Rejected,CashAuto,2022-12-25 18:35:54.083 +02:00,15000.0
653,69395710,110443510,Canceled,CashAuto,2023-02-08 11:44:46.537 +02:00,15000.0
654,69265875,110443510,Rejected,CashAuto,2023-01-04 10:37:37.057 +02:00,15000.0
660,69274416,110443510,Expired,CashAuto,2023-01-11 00:05:47.557 +02:00,15000.0
...,...,...,...,...,...,...
43479,69413984,89760838,Rejected,CashAuto,2023-02-06 19:22:44.143 +02:00,15000.0
43688,69310359,92024618,Expired,CashAuto,2023-01-19 15:35:26.370 +02:00,15000.0
43694,69447452,92177446,Expired,CashAuto,2023-02-17 16:45:19.000 +02:00,15000.0
43835,69600741,93288440,Rejected,CashAuto,2023-03-08 01:11:57.870 +02:00,15000.0
44350,69606984,98883592,Rejected,CashAuto,2023-03-09 08:26:27.057 +02:00,15000.0

In [177]:
rejected = df.loc[df['Status']=='Rejected']

In [180]:
rejected.loc[rejected['PIN']==298383526]

,Application ID,PIN,Status,Product,Timestamp,Amount
22905,66212829,298383526,Rejected,Cash,2022-12-22 14:21:13.363 +02:00,7000.00
22906,66239894,298383526,Rejected,Cash,2022-12-28 20:00:38.070 +02:00,7000.00
22907,66198134,298383526,Rejected,Cash,2022-12-19 18:03:32.600 +02:00,7000.00
22908,69394197,298383526,Rejected,Cash,2023-02-02 23:22:32.330 +02:00,7000.00
22909,69503709,298383526,Rejected,Cash,2023-02-21 21:15:20.460 +02:00,5200.00
22910,66114338,298383526,Rejected,Cash,2022-11-18 11:06:15.553 +02:00,5000.00
22911,66175590,298383526,Rejected,Cash,2022-12-13 14:11:51.540 +02:00,7000.00
22912,69532232,298383526,Rejected,Cash,2023-02-24 17:09:14.500 +02:00,3200.00
22914,66205968,298383526,Rejected,Cash,2022-12-20 18:15:43.117 +02:00,7000.00
22915,690321830,298383526,Rejected,BNPL,2023-01-17 14:56:18.270 +02:00,58.53
22916,66118726,298383526,Rejected,Cash,2022-11-21 12:07:53.847 +02:00,5000.00
22918,69314767,298383526,Rejected,Cash,2023-01-15 21:35:14.107 +02:00,7000.00
22919,69307134,298383526,Rejected,Cash,2023-01-13 17:56:37.410 +02:00,7000.00
22921,69277323,298383526,Rejected,Cash,2023-01-09 10:51:11.313 +02:00,7000.00
22922,66113474,298383526,Rejected,Cash,2022-11-17 14:13:56.873 +02:00,5600.00
22923,66113964,298383526,Rejected,Cash,2022-11-17 17:40:46.727 +02:00,5000.00
22924,66143266,298383526,Rejected,Cash,2022-11-29 11:18:20.560 +02:00,7500.00
22925,66129791,298383526,Rejected,Cash,2022-11-24 14:00:09.980 +02:00,5000.00
22926,69329937,298383526,Rejected,Cash,2023-01-24 09:20:29.587 +02:00,7000.00
22927,66125372,298383526,Rejected,Cash,2022-11-22 20:22:53.067 +02:00,6000.00
22928,69404472,298383526,Rejected,Cash,2023-02-04 21:52:29.400 +02:00,7000.00
22929,66131611,298383526,Rejected,Cash,2022-11-25 13:01:53.553 +02:00,7000.00
22930,66142145,298383526,Rejected,Cash,2022-11-28 20:14:45.037 +02:00,7500.00
22931,69437542,298383526,Rejected,Cash,2023-02-10 14:46:00.247 +02:00,6200.00
22932,660112318,298383526,Rejected,BNPL,2022-11-16 21:31:03.417 +02:00,59.83
22933,69296661,298383526,Rejected,Cash,2023-01-11 14:01:39.797 +02:00,6000.00
22934,69258039,298383526,Rejected,Cash,2023-01-02 16:11:57.377 +02:00,7000.00
22935,66114011,298383526,Rejected,Cash,2022-11-17 17:48:20.340 +02:00,5000.00
22936,66249089,298383526,Rejected,Cash,2022-12-30 19:09:44.727 +02:00,7000.00
22937,66150049,298383526,Rejected,Cash,2022-12-01 14:50:01.320 +02:00,7000.00
22938,66143265,298383526,Rejected,Cash,2022-11-29 11:16:09.547 +02:00,7500.00
22939,69267996,298383526,Rejected,Cash,2023-01-04 17:00:48.113 +02:00,7000.00
22940,66144935,298383526,Rejected,Cash,2022-11-29 20:23:11.460 +02:00,7500.00
22941,66215915,298383526,Rejected,Cash,2022-12-23 12:56:23.500 +02:00,6000.00
22942,66210249,298383526,Rejected,Cash,2022-12-21 20:17:24.677 +02:00,7000.00
22943,66142089,298383526,Rejected,Cash,2022-11-28 20:00:30.910 +02:00,7500.00
22944,690321796,298383526,Rejected,BNPL,2023-01-17 14:49:08.607 +02:00,94.48
22945,66142101,298383526,Rejected,Cash,2022-11-28 20:02:23.603 +02:00,7500.00
22946,69637474,298383526,Rejected,Cash,2023-03-14 15:09:38.987 +02:00,6000.00
22947,69293007,298383526,Rejected,Cash,2023-01-10 17:54:46.567 +02:00,7000.00
22948,69467220,298383526,Rejected,Cash,2023-02-15 19:24:19.517 +02:00,7000.00
22949,66111706,298383526,Rejected,Cash,2022-11-16 19:25:20.920 +02:00,7000.00
22950,69394199,298383526,Rejected,Cash,2023-02-02 23:27:37.357 +02:00,6000.00
22951,66141687,298383526,Rejected,Cash,2022-11-28 17:51:22.087 +02:00,7600.00
22952,66170273,298383526,Rejected,Cash,2022-12-09 11:46:10.887 +02:00,7500.00
22953,66114086,298383526,Rejected,Cash,2022-11-17 18:17:42.037 +02:00,5000.00
22954,69598840,298383526,Rejected,Cash,2023-03-07 19:00:24.287 +02:00,6000.00
22955,66153942,298383526,Rejected,Cash,2022-12-05 11:37:45.340 +02:00,7500.00
22956,66192756,298383526,Rejected,Cash,2022-12-17 09:12:20.727 +02:00,7000.00
22957,69318266,298383526,Rejected,Cash,2023-01-17 17:41:17.507 +02:00,7000.00

In [179]:
rejected.to_excel('rejected.xlsx')

In [181]:
canceled = df.loc[df['Status']=='Canceled']

In [182]:
canceled

,Application ID,PIN,Status,Product,Timestamp,Amount
25,690259494,101331604,Canceled,BNPL,2023-01-02 21:40:13.617 +02:00,252.76
38,690382074,101937236,Canceled,BNPL,2023-01-31 20:45:07.070 +02:00,135.00
41,690590270,102062008,Canceled,BNPL,2023-03-06 14:22:52.357 +02:00,195.89
81,66038102,103422638,Canceled,Cash,2022-10-07 17:16:24.947 +03:00,4500.00
83,660242065,103475444,Canceled,POS,2022-12-29 11:24:28.773 +02:00,2135.00
...,...,...,...,...,...,...
44339,66130266,98451350,Canceled,Cash,2022-11-28 13:35:07.677 +02:00,500.00
44347,69272508,98603986,Canceled,CashAuto,2023-01-05 17:23:52.763 +02:00,3500.00
44361,660022967,99650084,Canceled,POS,2022-09-20 09:57:13.157 +03:00,308.99
44364,69565741,99728896,Canceled,CashAuto,2023-03-02 12:40:24.800 +02:00,4500.00
44367,69566160,99728896,Canceled,Cash,2023-03-02 11:07:22.310 +02:00,3500.00

In [183]:
canceled.to_excel('canceled.xlsx')

In [184]:
expired = df.loc[df['Status']=='Expired']

In [185]:
expired

,Application ID,PIN,Status,Product,Timestamp,Amount
1,690549012,100257516,Expired,POS,2023-02-26 21:20:49.537 +02:00,630.00
4,690551519,100257516,Expired,POS,2023-02-27 11:20:09.833 +02:00,630.00
9,690550369,100257516,Expired,POS,2023-02-27 00:25:14.003 +02:00,630.00
11,660113656,100850248,Expired,BNPL,2022-11-17 17:25:18.787 +02:00,298.88
13,690255533,100850248,Expired,POS,2023-01-03 04:12:53.997 +02:00,345.00
...,...,...,...,...,...,...
44342,690608712,98575582,Expired,POS,2023-03-10 13:50:32.200 +02:00,4826.82
44355,66044974,99009320,Expired,Cash,2022-10-15 11:00:13.410 +03:00,3000.00
44359,690493796,99601982,Expired,BNPL,2023-02-25 18:35:52.170 +02:00,265.00
44366,690572804,99728896,Expired,BNPL,2023-03-03 07:25:58.980 +02:00,39.00
44368,69363180,99728896,Expired,Cash,2023-02-01 18:55:07.647 +02:00,2500.00

In [188]:
expired.to_excel('expired.xlsx')

Product Penetration Rate = (Number of Customers who purchased a specific product / Total Number of Customers) x 100

In [197]:
disbursed.loc[disbursed['Product']=='POS']

,Application ID,PIN,Status,Product,Timestamp,Amount
52,690420339,102216092,Disbursed,POS,2023-02-07 21:16:12.760 +02:00,520.3
99,690418807,103685778,Disbursed,POS,2023-02-07 16:27:11.317 +02:00,1645.0
112,690463646,103781662,Disbursed,POS,2023-02-15 11:28:04.827 +02:00,1439.1
256,690491459,106050710,Disbursed,POS,2023-02-20 14:08:49.217 +02:00,615.0
272,690361703,106376822,Disbursed,POS,2023-01-31 19:09:51.630 +02:00,1500.0
...,...,...,...,...,...,...
44043,690601201,95105900,Disbursed,POS,2023-03-08 08:28:53.770 +02:00,392.0
44063,660071449,95231664,Disbursed,POS,2022-10-24 19:13:46.797 +03:00,3000.0
44092,690425923,95572726,Disbursed,POS,2023-02-10 16:49:01.460 +02:00,690.0
44201,660011384,96856770,Disbursed,POS,2022-08-12 09:24:13.550 +03:00,3500.0
44352,690533680,98921116,Disbursed,POS,2023-03-03 09:59:51.037 +02:00,750.0

In [201]:
disbursed.loc[disbursed['Product']=='BNPL']

,Application ID,PIN,Status,Product,Timestamp,Amount
3,690547499,100257516,Disbursed,BNPL,2023-02-26 17:32:06.420 +02:00,280.00
7,690550092,100257516,Disbursed,BNPL,2023-02-26 22:02:08.737 +02:00,75.00
10,690549704,100257516,Disbursed,BNPL,2023-02-26 21:06:47.233 +02:00,75.00
29,690534026,101472410,Disbursed,BNPL,2023-02-24 20:17:25.990 +02:00,135.00
45,690423414,102216092,Disbursed,BNPL,2023-02-08 12:20:12.857 +02:00,84.29
...,...,...,...,...,...,...
44227,690503148,97436728,Disbursed,BNPL,2023-02-21 20:31:02.417 +02:00,250.00
44258,690519764,97656036,Disbursed,BNPL,2023-02-23 16:40:06.747 +02:00,120.00
44271,690314754,97656036,Disbursed,BNPL,2023-01-16 14:29:49.087 +02:00,300.00
44283,660170152,97923880,Disbursed,BNPL,2022-12-09 11:38:26.957 +02:00,69.98
44287,690391960,97923880,Disbursed,BNPL,2023-02-02 16:49:20.027 +02:00,279.99

In [204]:
disbursed.loc[disbursed['Product']=='Cash']

,Application ID,PIN,Status,Product,Timestamp,Amount
282,66045787,106514632,Disbursed,Cash,2022-10-12 10:21:03.843 +03:00,2000.0
321,66152593,107174660,Disbursed,Cash,2022-12-02 13:48:30.167 +02:00,3000.0
400,69470197,108079802,Disbursed,Cash,2023-02-17 10:08:23.270 +02:00,4000.0
414,66099548,108225540,Disbursed,Cash,2022-11-14 18:20:40.963 +02:00,2000.0
419,69520852,108226254,Disbursed,Cash,2023-02-24 09:57:32.973 +02:00,500.0
...,...,...,...,...,...,...
43765,66051181,92689578,Disbursed,Cash,2022-10-13 16:22:26.840 +03:00,3500.0
43866,69312827,93429254,Disbursed,Cash,2023-01-19 15:50:00.303 +02:00,3600.0
43963,66047267,94278504,Disbursed,Cash,2022-10-12 14:01:43.090 +03:00,6000.0
44095,69338443,95710178,Disbursed,Cash,2023-01-30 13:21:23.850 +02:00,5000.0
44263,69317590,97656036,Disbursed,Cash,2023-01-20 18:21:30.427 +02:00,4500.0

In [208]:
disbursed.loc[disbursed['Product']=='CashAuto'].shape

(35, 6)

In [198]:
disbursed.shape

(4262, 6)

In [200]:
df['Product'].unique()

array(['POS', 'BNPL', 'Cash', 'CashAuto'], dtype=object)

In [246]:
df['Timestamp'].min()

datetime.datetime(2022, 4, 19, 16, 8, 30, 53000, tzinfo=tzoffset(None, 10800))

In [210]:
df['Timestamp'].max()

'2023-03-22 10:38:00.263 +02:00'